@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body {
    font-family: 'Antic Slab', sans-serif;
}

.header {
    height: 25vh;
    font-size: 4rem;
    background-color: #92bbeb;
    text-align: center;
    
    /* vertical align text*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bios {
    padding: 34px 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bio {
    width: 25%;
    margin-bottom: 34px;
    
}

.bio h1 {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 3.0rem;
    text-align: center;
}

.bio img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    -moz-transform: rotate(270);
    -webkit-transform: rotate(270);
    -o-transform:rotate(270deg);
    transform: rotate(360deg);
    transition: all 2s;
}

.bio .bio-ctr {
    margin-left: 17px;
    margin-right: 17px;
    background-color: aliceblue;
    height: 100%;
}

.bio .bio-ctr:hover {
    animation: pulse 5s infinite;
}

.bio p {
    padding: 17px;
}

@keyframes pulse {
    0% {background-color: aliceblue;}
    50% {background-color: rgb(105, 255, 155);}
    100% {background-color: aliceblue;}
}